body{
  background-color: cornsilk;
}

.App {
  justify-content: center;
  text-align: center;
}

.heading {
  text-align: center;
  text-decoration: underline;
  color: white;
  background-color: #234e00;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
